* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 90vw;
    height: 90vh;
    /* border: 1px solid black; */
    margin: auto;
    text-align: start;
    overflow-y: auto;
}

.message .textmessage {
    font-size: 20px;
    color: rgb(51, 50, 50);
    position:relative;
}

#icon {
    background-color: transparent;
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 50px;
    cursor: pointer;
    display: none;
    font-size: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0; 
}

.sent:hover #icon {
    display: inline-flex;
    opacity: 1;
    
}


.message {
    width: fit-content;
    margin: 7px;
    border-radius: 15px;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.none {
    display: none;
}

.show {
    display: inline-block;
}

.messageElement {
    font-size: 30px;
    font-style: italic;
}


.reciev {
    background-color: rgb(190, 190, 190);
}

.sent {
    background-color: #43c561;
}

.message span {
    background-color: #transparent;
    padding: 6px;
    border-radius: 8px;
    width: fit-content;
    margin: 3px;
    font-size: 10px;
    color: gray;
}

.sent {
    float: right;
    clear: both;
}
.reciev {
    float: left;
    clear: both;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.formmm {
    margin: auto;
    width: 600px;
    text-align: center;

    /* border: 1px solid black; */
}

#message-input {
    width: 540px;
    height: 40px;
    border-radius: 9px;
    padding: 10px;
}

#send-button {
    height: 40px;
    width: 50px;
    border-radius: 9px;
}